/*left*/
@keyframes img {
    from {
        opacity: 0;
    }

    to {
        overflow: 1;
    }
}

.main-div {
    display: flex;
    margin: 100px auto 0px;
    position: relative;
}

.mainImage {
    position: absolute;
    visibility: hidden;
    background-color: white;
}

.visable {
    position: absolute;
    width: 244px;
    height: 434px;
    left: 154px;
    top: 62px;
    visibility: visible;
    background-repeat: no-repeat;
    background-size: 100%;
    visibility: visible;
    z-index: 2;
    animation: img 1.5s ease-in;
}

.mist {
    z-index: 1;
    height: 434px;
    left: 154px;
    top: 62px;
    position: absolute;
    visibility: visible;
}

.login-img {
    height: 630px;
    margin-top: -40px;
    margin-right: -15px;
    position: relative;
}