/* 메인 피드  */
@keyframes heartload {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

@keyframes heartl {
  from {
    transform: scale(1.5);
  }

  to {
    transform: scale(1);
  }
}

.heartOn {
  height: 40px;
  margin: 5px 10px;
  cursor: pointer;
  animation: heartload linear 0.3s;
}

.heartOff {
  margin: 0;
  cursor: pointer;
  animation: heartl linear 0.3s;
}

/* 피드 top */
.main-wrapper {
  padding-top: 120px;
  margin: 0 auto;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.feed-wrapper {
  float: left;
  width: 680px;
}

.feed-div {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 17px;
}

.feed-div .feed-top {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 5px 5px 0 0;
  background-color: white;
  height: 70px;
  padding: 15px 20px;
  position: relative;
}

.feed-top img {
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  margin-right: 15px;
  vertical-align: top;
}

.feed-top span {
  vertical-align: middle;
  line-height: 40px;
}

/* 피드 bottom  */
.feed-bottom {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-top: none;
  margin-top: -5px;
  background-color: white;
  font-size: 14px;
  border-radius: 0 0 5px 5px;
  font-weight: 600;
}

.feed-bottom-first {
  display: flex;
  width: 100%;
  padding: 10px 10px;
  position: relative;
  box-sizing: border-box;
}

.feed-bottom-first img {
  height: 25px;
  margin: 5px 10px;
  cursor: pointer;
}

.comment-list {
  white-space: pre-wrap;
  position: relative;
  font-weight: 100;
}

.comment-list img {
  width: 15px;
  position: absolute;
  right: 30px;
  top: 0px;
}

.comment-list a {
  font-weight: 600;
  text-decoration: none;
}

.comment-list a:hover,
.comment-list img {
  cursor: pointer;
  text-decoration: none;
}

.feed-bottom .comment-list {
  font-size: 15px;
  margin-top: 10px;
  margin-left: 20px;
}

.sec {
  position: absolute;
  opacity: 0.2;
  align-self: center;
  right: 410px;
}

.add-comment-div {
  padding: 10px 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.comment-input {
  border-style: none;
  padding: 15px 15px;
  font-size: 17px;
  resize: none;
  outline: none;
  color: black;
  overflow-y: visible;
  width: 88%;
}

.add-comment-btn {
  position: absolute;
  width: 60px;
  float: right;
  font-size: 18px;
  text-align: center;
  right: 5px;
  align-self: center;
  color: #95c8f8;
  opacity: 0.6;
  cursor: pointer;
}